/******************************************************************
Site Name:  Heimdallr
Author:     Aaron Sananes & Daniel Sandvik
Website:    http://www.northernfolks.com

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
