/******************************************************************
Site Name:  Heimdallr
Author:     Aaron Sananes & Daniel Sandvik
Website:    http://www.northernfolks.com

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

